h1 {
	color: #105B63;
}

body {
	background: #FFF9D2;
}

#demo{
	font-size: 12px;
	color: darkblue;
}

p {
  margin: 1rem;
}

.btn {
	background-color: #DB9E36;
}

.profile-pic {
	border: 50px solid #FFD34E;
	border-radius: 3rem;
}
