{% extends 'base.html' %}

{% block content %}

<h1> Take the first step to creating the community you want to live in - one that believes in second chances. Safe neighborhoods begin when everyone has a stable place to call home.</h1>

<h3>We're bridging the gap between tenants & homeowners to create more accountability and trust. Get the info you really want on your future landlord or tenant.</h3>

<p>1) I have a home that I want to fill with a tenant who makes a difference to my neighborhood.</p>

<button type="button" class="btn btn-primary">Start Here</button>

<br>

<p>2) I am looking for a stable home to create a foundation for my life. </p>

<button type="button" class="btn btn-primary">Start Here</button>

{% endblock %}
