{% extends 'base.html' %}

{% block content %}

<h1> Take the first step to creating the community you want to live in - one that believes in second chances.</h1>

<h3>We're bridging the gap between tenants & homeowners to create more accountability and trust. Get the info you really want about your home.</h3>

<p>1) I have a home that I want to fill with a tenant who makes a difference to my neighborhood.</p>

<a class="btn btn-primary" href="/landlord_questionnaire">Start Here »</a>

<br>

<p>2) I am looking for a stable home to create a foundation for my life. </p>

<a class="btn btn-primary" href="/tenant_profile">Start Here »</a>

<p> Or if you already have an account, <a href="#">Sign in</a> <p>

{% endblock %}
