<h1> Take the first step to creating the community you want to live in - one that believes in second chances. Safe neighborhoods begin when everyone has a stable place to call home.</h1>

<h2>We're bridging the gap between tenants & homeowners to create more accountability and trust. Get the info you really want on your future landlord or tenant.</h2>

<h1>Who are you?</h1>

<p> I have a home that I want to fill with a tenant who makes a difference to my neighborhood.</p>

<a href="/landlord_start_page">Start Here</a>

<p> I am looking for a stable home to create a foundation for my life. </p>

<a href="/tenant_start_page">Start Here</a>
