<!-- "Jinja" templating language for Python backends-->

{% extends 'base.html' %}

{% block content %}

<h1> Hello {{tenant_name|capitalize|trim}}</h1>

<h2> Let's Make The Neighborhood You Want To See </h2>

<h3>Tell us about your ideal tenant</h3>
<ul>
  <li>Reliable</li>
  <li>Community-oriented</li>
  <li>Consistent communicator</li>
  <li>Motivated</li>
  <li>Wants to be a long term tenant</li>
  <li>Cares about neighbors</li>
  <li>Likes to volunteer</li>
</ul>

<button type="button" class="btn btn-primary">Next</button>

{% endblock %}
