<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #105B63;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Open Applications
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/tenant_michael">Michael J</a></li>
            <li><a class="dropdown-item" href="/tenant_dana">Dana L</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a class="nav-link" href="/tenant_michael" style="color: white;">My Profile</a>
      </form>
    </div>
  </div>
</nav>
